/* Resset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend{margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: transparent;}
body {	line-height: 1;}
ol, ul {	list-style: none;}
blockquote, q {	quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}
:focus {	outline: 0;}
ins {	text-decoration: none;}
del {	text-decoration: line-through;}
table, caption, tbody, tfoot, thead, tr, th, td {border:0px; font-size: 100%;border-spacing: 0px;border-collapse:collapse;border-color: transparent;outline: 0;}

/* Typography */
body {font-size: 12px;line-height: 1.7em;font-family: Helvetica,Arial, Sans-Serif;}
form {margin: 0;padding: 0;}
p {margin: 0 0 15px 0;}
h1, h2, h3, h4, h5 {margin: 15px 0;line-height: 1.1em;}
h1 {font-size: 260%;}
h2 {font-size: 200%;}
h2.title {font-size: 170%;font-weight: normal;}
h3 {font-size: 175%;}
h4 {font-size: 120%;}
h5 {font-size: 120%;}
a {text-decoration: none;}
a:focus {outline: none;}
code {margin: -1px 0 0 0;font: 10px Courier;}
blockquote {font: italic 16px/22px Georgia, Serif;}

/* Основной */
.block {padding:15px; margin-bottom:10px;}
a{text-decoration:none;}
#silver #body-interface.k-widget, #silver #desktop-menu-top {background-color: #FFFFFF;}
/* Таблица */
table.tablereset {padding:0; margin:0; border-collapse:collapse;}
table.tablereset td, table.tablereset th {padding:0;margin:0;}
table.height-one-hundred, td.height-one-hundred {height:100%;}
table.width-one-hundred, td.width-one-hundred {width:100%;}
table.valigntop, td.valigntop {vertical-align: top;}
td.alignright {text-align: right;}
/* Цвета */
#default a, #default #breadcrumbtitel{color:#F0713A;}
#black a, #black #breadcrumbtitel{color:#ffffff;}
#blueopal a, #blueopal #breadcrumbtitel{color:#005C83;}
#metro a, #metro #breadcrumbtitel{color:#8EBC00;}
#silver a, #silver #breadcrumbtitel{color:#0879C0;}
#uniform a,#uniform #breadcrumbtitel{color:#BBB;}
#bootstrap a,#bootstrap #breadcrumbtitel{color:#04C;}
#metroblack a,#metroblack #breadcrumbtitel{color:#008886;}
#highcontrast a,#highcontrast #breadcrumbtitel{color:#A17E9C;}
#moonlight a,#moonlight #breadcrumbtitel{color:#F4AF03;}
/* */
.logotip, .exit, #esnav, .breadcrumbs {display:none;}
/* Логотип */
.logo {width:320px;}
.logotip {position:absolute;z-index:1;left:10px;top:9px;font-size:18px;text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);font-weight:bold;background-repeat: no-repeat;color: #FFFFFF;}
#black.smallopen .logotip{background-position: 0 -52px;}
#moonlight.smallopen .logotip{background-position: 0 -52px;}
#highcontrast.smallopen .logotip{background-position: 0 -52px;}
#metroblack.smallopen .logotip{background-position: 0 -52px;}

.toppanel {height:5px;}
.toppanel .splitbar {
	background-image: url('http://cdn.kendostatic.com/2012.2.913/styles/Default/sprite.png');
	background-color: transparent;
	background-repeat: no-repeat;
	line-height: 0;
	text-indent: -3333px;
	text-align: center;
	vertical-align: middle;
	font-size:1px;
	cursor: pointer;
	height: 5px;
	width: 15px;
}

/* Переключатель стилей */
#themeChooser{background:#eee;border:solid #dadada;border-width:0 1px;-moz-border-radius:5px;-webkit-border-radius:5px; border-radius:5px;overflow:hidden;}
#themeChooser li{display:inline;}
#themeChooser,#themeChooser span{display:inline-block;vertical-align:middle;}
#themeChooser span{padding:0 9px;line-height:27px;cursor:pointer;-moz-box-shadow:inset 0 3px 1px -2px rgba(204, 204, 204, 1);-webkit-box-shadow:inset 0 3px 1px -2px rgba(204, 204, 204, 1);box-shadow:inset 0 3px 1px -2px rgba(204, 204, 204, 1);}
#themeChooser li:first-child span{-moz-border-radius:5px 0 0 5px;-webkit-border-radius:5px 0 0 5px;border-radius:5px 0 0 5px;}
#themeChooser li:last-child span{-moz-border-radius:0 5px 5px 0;-webkit-border-radius:0 5px 5px 0;border-radius:0 5px 5px 0;}
#themeChooser .k-state-selected{ cursor:default; position:relative; background:repeat-x 0 -258px url(../images/highlight.png)}
/*#themeChooser .k-state-selected:after{ content:" "; display:block; border-color: #fff transparent transparent; border-style: solid; border-width: 5px 5px 0; left: 50%; margin: 0 0 0 -5px; position: absolute; top: 0; width: 0; height:0;}*/
#themeChooser .skin-black .k-state-selected{background-color:#000000;color:#fff;}
#themeChooser .skin-blueopal .k-state-selected{background-color:#005c83;color:#fff;}
#themeChooser .skin-default .k-state-selected{background-color:#f0713a;color:#fff;}
#themeChooser .skin-metro .k-state-selected{background-color:#8ebc00;color:#fff;}
#themeChooser .skin-silver .k-state-selected{background-color:#0879C0;color:#fff;}
#themeChooser .skin-uniform .k-state-selected{background-color:#BBB;color:#fff;}
#themeChooser .skin-bootstrap .k-state-selected{background-color:#04C;color:#fff;}
#themeChooser .skin-metroblack .k-state-selected{background-color:#008886;color:#fff;}
#themeChooser .skin-highcontrast .k-state-selected{background-color:#870074;color:#fff;}
#themeChooser .skin-moonlight .k-state-selected{background-color:#F4AF03;color:#fff;}

/* Груповые кнопки */
#TopPanel, #LeftPanel, #lmс{background:#eee;border:solid #dadada;border-width:0 1px;-moz-border-radius:5px;-webkit-border-radius:5px; border-radius:5px;overflow:hidden;}
#TopPanel li, #LeftPanel li, #lmс li{display:inline;}
#TopPanel,#TopPanel span, #LeftPanel, #LeftPanel span, #lmс, #lmс span{display:inline-block;vertical-align:middle;}
#TopPanel span,#LeftPanel span,#lmс span{padding:0 9px;line-height:27px;cursor:pointer;-moz-box-shadow:inset 0 3px 1px -2px rgba(204, 204, 204, 1);-webkit-box-shadow:inset 0 3px 1px -2px rgba(204, 204, 204, 1);box-shadow:inset 0 3px 1px -2px rgba(204, 204, 204, 1);}
#TopPanel li:first-child span, #LeftPanel li:first-child span, #lmс li:first-child span{-moz-border-radius:5px 0 0 5px;-webkit-border-radius:5px 0 0 5px;border-radius:5px 0 0 5px;}
#TopPanel li:last-child span, #LeftPanel li:last-child span, #lmс li:last-child span{-moz-border-radius:0 5px 5px 0;-webkit-border-radius:0 5px 5px 0;border-radius:0 5px 5px 0;}

/* Градиент */
#bootstrap .colorpanel{
background: #0a45b9;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBhNDViOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ0JSIgc3RvcC1jb2xvcj0iIzZjOTNlMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwYTQ1YjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background: -moz-linear-gradient(left,  #0a45b9 0%, #6c93e2 50%, #0a45b9 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#0a45b9), color-stop(50%,#6c93e2), color-stop(100%,#0a45b9));
background: -webkit-linear-gradient(left,  #0a45b9 0%,#6c93e2 50%,#0a45b9 100%);
background: -o-linear-gradient(left,  #0a45b9 0%,#6c93e2 50%,#0a45b9 100%);
background: -ms-linear-gradient(left,  #0a45b9 0%,#6c93e2 50%,#0a45b9 100%);
background: linear-gradient(to right,  #0a45b9 0%,#6c93e2 50%,#0a45b9 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6c93e2', endColorstr='#6c93e2',GradientType=1 );
}

#uniform .colorpanel{
background: #bbbbbb;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JiYmJiYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ0JSIgc3RvcC1jb2xvcj0iI2Q4ZDhkOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiYmJiYmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background: -moz-linear-gradient(left,  #bbbbbb 0%, #d8d8d8 50%, #bbbbbb 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#bbbbbb), color-stop(50%,#d8d8d8), color-stop(100%,#bbbbbb));
background: -webkit-linear-gradient(left,  #bbbbbb 0%,#d8d8d8 50%,#bbbbbb 100%);
background: -o-linear-gradient(left,  #bbbbbb 0%,#d8d8d8 50%,#bbbbbb 100%);
background: -ms-linear-gradient(left,  #bbbbbb 0%,#d8d8d8 50%,#bbbbbb 100%);
background: linear-gradient(to right,  #bbbbbb 0%,#d8d8d8 50%,#bbbbbb 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8d8d8', endColorstr='#d8d8d8',GradientType=1 );
}

#silver .colorpanel{
background: #0978bd;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA5NzhiZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzZmYWZkOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwOTc4YmQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(left,  #0978bd 0%, #6fafd8 50%, #0978bd 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#0978bd), color-stop(50%,#6fafd8), color-stop(100%,#0978bd));
background: -webkit-linear-gradient(left,  #0978bd 0%,#6fafd8 50%,#0978bd 100%);
background: -o-linear-gradient(left,  #0978bd 0%,#6fafd8 50%,#0978bd 100%);
background: -ms-linear-gradient(left,  #0978bd 0%,#6fafd8 50%,#0978bd 100%);
background: linear-gradient(to right,  #0978bd 0%,#6fafd8 50%,#0978bd 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6fafd8', endColorstr='#6fafd8',GradientType=1 );
}

#metro .colorpanel{
background: #8EBC00;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzkwYmUwNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2JlZDg2ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5MGJlMDYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(left,  #8EBC00 0%, #bed86d 50%, #8EBC00 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#8EBC00), color-stop(50%,#bed86d), color-stop(100%,#8EBC00));
background: -webkit-linear-gradient(left,  #8EBC00 0%,#bed86d 50%,#8EBC00 100%);
background: -o-linear-gradient(left,  #8EBC00 0%,#bed86d 50%,#8EBC00 100%);
background: -ms-linear-gradient(left,  #8EBC00 0%,#bed86d 50%,#8EBC00 100%);
background: linear-gradient(to right,  #8EBC00 0%,#bed86d 50%,#8EBC00 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8EBC00', endColorstr='#8EBC00',GradientType=1 );
}	

#default .colorpanel{
background: #F0713A;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YwNzQzZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2Y2YWQ4ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMDc0M2UiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(left,  #F0713A 0%, #f6ad8d 50%, #F0713A 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#F0713A), color-stop(50%,#f6ad8d), color-stop(100%,#F0713A));
background: -webkit-linear-gradient(left,  #F0713A 0%,#f6ad8d 50%,#F0713A 100%);
background: -o-linear-gradient(left,  #F0713A 0%,#f6ad8d 50%,#F0713A 100%);
background: -ms-linear-gradient(left,  #F0713A 0%,#f6ad8d 50%,#F0713A 100%);
background: linear-gradient(to right,  #F0713A 0%,#f6ad8d 50%,#F0713A 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F0713A', endColorstr='#F0713A',GradientType=1 );
}

#blueopal .colorpanel{
background: #005c83;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNWM4MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzk0YzBkMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDVjODMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(left,  #005c83 0%, #94c0d2 50%, #005c83 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#005c83), color-stop(50%,#94c0d2), color-stop(100%,#005c83));
background: -webkit-linear-gradient(left,  #005c83 0%,#94c0d2 50%,#005c83 100%);
background: -o-linear-gradient(left,  #005c83 0%,#94c0d2 50%,#005c83 100%);
background: -ms-linear-gradient(left,  #005c83 0%,#94c0d2 50%,#005c83 100%);
background: linear-gradient(to right,  #005c83 0%,#94c0d2 50%,#005c83 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005c83', endColorstr='#005c83',GradientType=1 );
}

#black .colorpanel{
background: #1d1d1d;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFkMWQxZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzRkNGQ0ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZDFkMWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(left,  #1d1d1d 0%, #3d3d3d 50%, #1d1d1d 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1d1d1d), color-stop(50%,#3d3d3d), color-stop(100%,#1d1d1d));
background: -webkit-linear-gradient(left,  #1d1d1d 0%,#3d3d3d 50%,#1d1d1d 100%);
background: -o-linear-gradient(left,  #1d1d1d 0%,#3d3d3d 50%,#1d1d1d 100%);
background: -ms-linear-gradient(left,  #1d1d1d 0%,#3d3d3d 50%,#1d1d1d 100%);
background: linear-gradient(to right,  #1d1d1d 0%,#3d3d3d 50%,#1d1d1d 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d1d1d', endColorstr='#1d1d1d',GradientType=1 );
}

#moonlight .colorpanel{
background: #212a33;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIxMmEzMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ0JSIgc3RvcC1jb2xvcj0iIzJhMzMzYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMTJhMzMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background: -moz-linear-gradient(left,  #212a33 0%, #2a333c 50%, #212a33 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#212a33), color-stop(50%,#2a333c), color-stop(100%,#212a33));
background: -webkit-linear-gradient(left,  #212a33 0%,#2a333c 50%,#212a33 100%);
background: -o-linear-gradient(left,  #212a33 0%,#2a333c 50%,#212a33 100%);
background: -ms-linear-gradient(left,  #212a33 0%,#2a333c 50%,#212a33 100%);
background: linear-gradient(to right,  #212a33 0%,#2a333c 50%,#212a33 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#212a33', endColorstr='#212a33',GradientType=1 );
}
#highcontrast .colorpanel{
background: #202932;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIwMjkzMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ0JSIgc3RvcC1jb2xvcj0iIzJkMjMyYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMDI5MzIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background: -moz-linear-gradient(left,  #202932 0%, #2d232b 50%, #202932 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#202932), color-stop(50%,#2d232b), color-stop(100%,#202932));
background: -webkit-linear-gradient(left,  #202932 0%,#2d232b 50%,#202932 100%);
background: -o-linear-gradient(left,  #202932 0%,#2d232b 50%,#202932 100%);
background: -ms-linear-gradient(left,  #202932 0%,#2d232b 50%,#202932 100%);
background: linear-gradient(to right,  #202932 0%,#2d232b 50%,#202932 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#202932', endColorstr='#202932',GradientType=1 );
}
#metroblack .colorpanel{
background: #020202;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAyMDIwMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ0JSIgc3RvcC1jb2xvcj0iIzFlMWUxZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMjAyMDIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background: -moz-linear-gradient(left,  #020202 0%, #1e1e1e 50%, #020202 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#020202), color-stop(50%,#1e1e1e), color-stop(100%,#020202));
background: -webkit-linear-gradient(left,  #020202 0%,#1e1e1e 50%,#020202 100%);
background: -o-linear-gradient(left,  #020202 0%,#1e1e1e 50%,#020202 100%);
background: -ms-linear-gradient(left,  #020202 0%,#1e1e1e 50%,#020202 100%);
background: linear-gradient(to right,  #020202 0%,#1e1e1e 50%,#020202 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e1e1e', endColorstr='#1e1e1e',GradientType=1 );
}

/* Форма входа на сайт */
#tickets {text-align:left;padding-top:30px;border:0px;display: table;min-width: 255px;margin: 0 auto;}
#tickets .k-textbox{width:290px;float:left;}
#tickets .k-textbox.k-invalid {	width:170px;border-color: #953b39;-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;}
#tickets td{padding:5px;}
label {display: inline-block;}
.required {font-weight: bold;}
.accept, .status {padding-left: 94px;}
.valid {color: green;}
.invalid {color: red;}
span.k-tooltip {margin-left: 6px;}
#dialoglogin {text-align:center;color: #2E2E2E;background-image: url(../images/abstract.png);background-position: 100% 100%;background-repeat: no-repeat;padding:0px;}
.k-invalid-msg {margin-bottom:5px;}
#windowdialog {display:none}
.k-window-action .k-i- {display:none}
button[disabled],
button[disabled]:active,
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  cursor: not-allowed;
  /*background-color: #eeeeee;*/
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
button:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
}
/* Кнопка Выход */
.settings {width:100px;}
a.exit {position:absolute;z-index:1;right:10px;top:6px;}
a.exit img{margin: 0px 0px 2px 5px; vertical-align: middle;}
a.exit img:hover {opacity: 0.9;}
/* Навигатор */
.breadcrumbs {position:absolute;z-index:1;left: 250px;top: 18px;font-size:24px;font-weight:bold;}
.breadcrumbs .br-icon{margin-right:20px;float:left;vertical-align:middle;background-image: url(../images/breadcrumbicon.png);background-position: 0px 0px;background-repeat: no-repeat;width:46px;height:46px;}
.br-icon #breadcrumbicon {position:absolute;top:14px;left:12px;}
#black .breadcrumbs .br-icon{background-image: url(../images/breadcrumbiconblack.png);}
#moonlight .breadcrumbs .br-icon{background-image: url(../images/breadcrumbiconmoonlight.png);}
#highcontrast .breadcrumbs .br-icon{background-image: url(../images/breadcrumbiconhighcontrast.png);}
#metroblack .breadcrumbs .br-icon{background-image: url(../images/breadcrumbiconmetroblack.png);}
/* Сообщения */
.clock {width:150px;}
table.tablereset td.clock {padding-left:20px;}
#top-pane .messages table td {vertical-align: bottom;}
.messages img{vertical-align: top;padding-left:10px;}
.messages{text-align:right;padding-right:30px;}
.messages table {float:right;}
.messages span[data-value], .role span, .clock, .logotip, #current2{cursor: pointer;}
/* Подсказки */
#tooltip {position:absolute;z-index:9999;color:#555;font-size:12px; background-color: #FFFFA3; border: 1px solid #F1D031;padding: 5px;}
/* Календарь */
#tooltipCalendar{position:absolute;z-index:9999;}
#tooltipCalendar .k-nav-prev, #tooltipCalendar .k-nav-next{visibility: hidden;}
/* Роли */
#tooltiproles {position:absolute;z-index:9999;padding: 10px;font-size:12px;}
#tooltiproles ul {line-height: 14px;}
.role{float: right;text-align:right;}
.role img {margin:0px 5px 2px 5px; vertical-align: middle;}
/**/
.colorpanel{color:#ffffff;}
/* Шапка левого меню */
#left-menu-top-pane{background-image: url(../images/left-menu-top-pane-bg.png);background-position: 0px 0px;background-repeat: no-repeat;}
/* Переключение меню */
#TypeMenu{position: absolute;top:4px;left:10px;}
#TypeMenu li{float:left;margin-right: 10px;}
#TypeMenu .k-button{opacity: 0.9; padding: 2px 3px;line-height: 8px;}
#TypeMenu .k-button img{height:16px;width:16px;}
/* Настройка меню */
#left-menu-middle-pane, #treeview{overflow-x: hidden;}
#treeview img{vertical-align:middle;}
#treeview div.k-state-selected.borderrn {-moz-border-radius: 0px;-webkit-border-radius: 0px;border-radius: 0px;}
#treeview ul li li div.k-state-selected{background-color: transparent;background-image:none;color: #515967;}
.black #treeview ul li li div.k-state-selected{color: #ffffff;}
#treeview ul li li.k-header{background-image:none;}
#treeview .k-checkbox {vertical-align: bottom;margin-bottom:3px;}
#treeview ul li.k-item {padding:0px;}
#treeview ul li.k-header{border-color: #C5C5C5;border-bottom-style: solid;border-bottom-width: 1px;}
#treeview ul li.k-header > .k-mid, #treeview ul li.k-header > .k-top, #treeview ul li.k-header > .k-bot {padding:5px;}
#treeview ul li li.k-header > .k-mid, #treeview ul li li.k-header > .k-top, #treeview ul li li.k-header > .k-bot {padding:0px;}
#treeview ul li li.k-header{border:0px;}
#treeview ul li .k-icon{float:right;}
#treeview ul li .k-icon.k-plus{background-position: 0 -32px;}
#treeview ul li li .k-icon.k-plus{background-position: 0 -192px;}
#treeview ul li .k-icon.k-minus{background-position: 0px 0;}
#treeview ul li li .k-icon.k-minus{background-position: 0 -226px;}
#treeview ul li li .k-icon{float:left;}
#treeview ul li li.k-item{padding: 0 0 0 16px;}
#treeview .k-state-selected, #treeview .k-state-hover, #treeview .k-state-focused{background:none; border-color: transparent;-moz-border-radius:0;-webkit-border-radius:0px;border-radius:0px}
#treeview .k-in{display: block;}
#treeview .settingmenu .k-in{display: inline-block;}

#default #treeview .k-state-selected span{vertical-align: top;background-color:#F0713A;border-color:#F0713A;border-style:solid;border-width:1px;padding:1px 3px 1px 2px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin-left:-3px;}
#black #treeview .k-state-selected span{vertical-align: top;background-color:#000;border-color:#000;border-style:solid;border-width:1px;padding:1px 3px 1px 2px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin-left:-3px;}
#blueopal #treeview .k-state-selected span{vertical-align: top;background-color:#005C83;border-color:#005C83;border-style:solid;border-width:1px;padding:1px 3px 1px 2px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin-left:-3px;}
#metro #treeview .k-state-selected span{vertical-align: top;background-color:#8EBC00;border-color:#8EBC00;border-style:solid;border-width:1px;padding:1px 3px 1px 2px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin-left:-3px;}
#silver #treeview .k-state-selected span{vertical-align: top;background-color:#0879C0;border-color:#0879C0;border-style:solid;border-width:1px;padding:1px 3px 1px 2px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin-left:-3px;}
#uniform #treeview .k-state-selected span{vertical-align: top;background-color:#BBB;border-color:#BBB;border-style:solid;border-width:1px;padding:1px 3px 1px 2px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin-left:-3px;}
#bootstrap #treeview .k-state-selected span{vertical-align: top;background-color:#04C;border-color:#04C;border-style:solid;border-width:1px;padding:1px 3px 1px 2px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin-left:-3px;}
#metroblack #treeview .k-state-selected span{vertical-align: top;background-color:#008886;border-color:#008886;border-style:solid;border-width:1px;padding:1px 3px 1px 2px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin-left:-3px;}
#highcontrast #treeview .k-state-selected span{vertical-align: top;background-color:#A17E9C;border-color:#A17E9C;border-style:solid;border-width:1px;padding:1px 3px 1px 2px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin-left:-3px;}
#moonlight #treeview .k-state-selected span{vertical-align: top;background-color:#F4AF03;border-color:#F4AF03;border-style:solid;border-width:1px;padding:1px 3px 1px 2px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin-left:-3px;}

#default #treeview .k-state-hover span{vertical-align: top;color: #263248;background-color: #A6AFBE;border-color: #A6AFBE;border-style:solid;border-width:1px;padding:1px 3px 1px 2px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin-left:-3px;}
#black #treeview .k-state-hover span{vertical-align: top;color: #263248;background-color: #A6AFBE;border-color: #A6AFBE;border-style:solid;border-width:1px;padding:1px 3px 1px 2px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin-left:-3px;}
#blueopal #treeview .k-state-hover span{vertical-align: top;color: #263248;background-color: #A6AFBE;border-color: #A6AFBE;border-style:solid;border-width:1px;padding:1px 3px 1px 2px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin-left:-3px;}
#metro #treeview .k-state-hover span{vertical-align: top;color: #263248;background-color: #A6AFBE;border-color: #A6AFBE;border-style:solid;border-width:1px;padding:1px 3px 1px 2px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin-left:-3px;}
#silver #treeview .k-state-hover span{vertical-align: top;color: #263248;background-color: #A6AFBE;border-color: #A6AFBE;border-style:solid;border-width:1px;padding:1px 3px 1px 2px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin-left:-3px;}
#uniform #treeview .k-state-hover span{vertical-align: top;color: #263248;background-color: #A6AFBE;border-color: #A6AFBE;border-style:solid;border-width:1px;padding:1px 3px 1px 2px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin-left:-3px;}
#bootstrap #treeview .k-state-hover span{vertical-align: top;color: #263248;background-color: #A6AFBE;border-color: #A6AFBE;border-style:solid;border-width:1px;padding:1px 3px 1px 2px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin-left:-3px;}
#metroblack #treeview .k-state-hover span{vertical-align: top;color: #263248;background-color: #A6AFBE;border-color: #A6AFBE;border-style:solid;border-width:1px;padding:1px 3px 1px 2px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin-left:-3px;}
#highcontrast #treeview .k-state-hover span{vertical-align: top;color: #263248;background-color: #A6AFBE;border-color: #A6AFBE;border-style:solid;border-width:1px;padding:1px 3px 1px 2px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin-left:-3px;}
#moonlight #treeview .k-state-hover span{vertical-align: top;color: #263248;background-color: #A6AFBE;border-color: #A6AFBE;border-style:solid;border-width:1px;padding:1px 3px 1px 2px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin-left:-3px;}

#default #treeview .k-state-focused span{vertical-align: top;color:#ffffff; background-color:#F0713A;border-color:#F0713A;border-style:solid;border-width:1px;padding:1px 3px 1px 2px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin-left:-3px;}
#black #treeview .k-state-focused span{vertical-align: top;color:#ffffff; background-color:#000;border-color:#000;border-style:solid;border-width:1px;padding:1px 3px 1px 2px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin-left:-3px;}
#blueopal #treeview .k-state-focused span{vertical-align: top;color:#ffffff; background-color:#005C83;border-color:#005C83;border-style:solid;border-width:1px;padding:1px 3px 1px 2px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin-left:-3px;}
#metro #treeview .k-state-focused span{vertical-align: top;color:#ffffff; background-color:#8EBC00;border-color:#8EBC00;border-style:solid;border-width:1px;padding:1px 3px 1px 2px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin-left:-3px;}
#silver #treeview .k-state-focused span{vertical-align: top;color:#ffffff; background-color:#0879C0;border-color:#0879C0;border-style:solid;border-width:1px;padding:1px 3px 1px 2px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin-left:-3px;}
#uniform #treeview .k-state-focused span{vertical-align: top;color:#ffffff; background-color:#BBB;border-color:#BBB;border-style:solid;border-width:1px;padding:1px 3px 1px 2px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin-left:-3px;}
#bootstrap #treeview .k-state-focused span{vertical-align: top;color:#ffffff; background-color:#04C;border-color:#04C;border-style:solid;border-width:1px;padding:1px 3px 1px 2px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin-left:-3px;}
#metroblack #treeview .k-state-focused span{vertical-align: top;color:#ffffff; background-color:#008886;border-color:#008886;border-style:solid;border-width:1px;padding:1px 3px 1px 2px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin-left:-3px;}
#highcontrast #treeview .k-state-focused span{vertical-align: top;color:#ffffff; background-color:#A17E9C;border-color:#A17E9C;border-style:solid;border-width:1px;padding:1px 3px 1px 2px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin-left:-3px;}
#moonlight #treeview .k-state-focused span{vertical-align: top;color:#ffffff; background-color:#F4AF03;border-color:#F4AF03;border-style:solid;border-width:1px;padding:1px 3px 1px 2px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;margin-left:-3px;}

/* Скрыть лишнее menu */
.menu-tab.k-menu .k-group .k-item {display:none;}
.menu-general .k-menu .k-group .addgadgetmenu.k-item, .menu-general .k-menu .k-group .refreshmenu.k-item {display:block;}
.menu-gadgets .k-menu .k-group .addgadgetmenu.k-item, .menu-gadgets .k-menu .k-group .refreshmenu.k-item, .menu-gadgets .k-menu .k-group .closemenu.k-item {display:block;}
.menu-tabs .k-menu .k-group .refreshmenu.k-item, .menu-tabs .k-menu .k-group .closemenu.k-item, .menu-tabs .k-menu .k-group .openinnewwinmenu.k-item, .menu-tabs .k-menu .k-group .openrightpanemenu.k-item, .menu-tabs .k-menu .k-group .closeallmenu.k-item, .menu-tabs .k-menu .k-group .fixmenu.k-item {display:block;}
.menu-tabs-fixed .k-menu .k-group .refreshmenu.k-item, .menu-tabs-fixed .k-menu .k-group .closemenu.k-item, .menu-tabs-fixed .k-menu .k-group .openinnewwinmenu.k-item, .menu-tabs-fixed .k-menu .k-group .openrightpanemenu.k-item, .menu-tabs-fixed .k-menu .k-group .closeallmenu.k-item {display:block;}

/* Переорентация меню настроек табов*/
.k-button img{height:16px;}
#tabstrip img.k-image{height:16px;}
#tabstrip {position:absolute;width:100%;} 
#tabstrip{overflow: hidden;}
#tabstrip .k-content {border-color:transparent;border-width:0px;background:none;margin:0px;padding:0px;}

#silver #tabstrip{background-color: #eaeaec;}
#silver #tabstrip ul.k-tabstrip-items.k-reset {background-color:#ffffff;}
#metro #tabstrip{background-color: #e8e8e8;}
#metro #tabstrip ul.k-tabstrip-items.k-reset {background-color:#ffffff;}
#default #tabstrip {background-color: #eaeaec;}
#default #tabstrip ul.k-tabstrip-items.k-reset {background-color:#ffffff;}
#blueopal #tabstrip{background-color: #dfeef5;}
#blueopal #tabstrip ul.k-tabstrip-items.k-reset {background-color:#ffffff;}
#black #tabstrip{background-color: #4d4d4d;} 
#black #tabstrip ul.k-tabstrip-items.k-reset {background-color:#4d4d4d;}



#black #tabstrip ul.k-tabstrip-items {background-color: #4D4D4D;}
#tabstrip ul.k-tabstrip-items{padding:0px;}
#tabstrip ul.k-tabstrip-items{position: relative;left: 65px;}
#tabstrip ul.k-tabstrip-items{width:9999px;}
#tabstrip ul.k-tabstrip-items > li.k-item {/*height: 29px;*/-moz-border-radius: 0;-webkit-border-radius: 0;border-radius: 0;border-color:transparent;border-width:0px;background:none;margin:0px;padding:0px;vertical-align: top;}

#default #tabstrip ul.k-tabstrip-items > li.k-item.k-state-active, 
	#default #tabstrip ul.k-tabstrip-items > li.k-item.currentnext, 
	#default.smallopen .logotip, 
	#default #tabstrip ul.k-tabstrip-items > li.k-state-active ul.menu-tab > li.k-item.k-last{background-color:#F0713A;}
#black #tabstrip ul.k-tabstrip-items > li.k-item.k-state-active, 
	#black #tabstrip ul.k-tabstrip-items > li.k-item.currentnext, 
	#black.smallopen .logotip, 
	#black #tabstrip ul.k-tabstrip-items > li.k-state-active ul.menu-tab > li.k-item.k-last{background-color:#000000;}
#blueopal #tabstrip ul.k-tabstrip-items > li.k-item.k-state-active, 
	#blueopal #tabstrip ul.k-tabstrip-items > li.k-item.currentnext, 
	#blueopal.smallopen .logotip, 
	#blueopal #tabstrip ul.k-tabstrip-items > li.k-state-active ul.menu-tab > li.k-item.k-last{background-color:#005C83;}
#metro #tabstrip ul.k-tabstrip-items > li.k-item.k-state-active, 
	#metro #tabstrip ul.k-tabstrip-items > li.k-item.currentnext, 
	#metro.smallopen .logotip, 
	#metro #tabstrip ul.k-tabstrip-items > li.k-state-active ul.menu-tab > li.k-item.k-last{background-color:#8EBC00;}
#silver #tabstrip ul.k-tabstrip-items > li.k-item.k-state-active, 
	#silver #tabstrip ul.k-tabstrip-items > li.k-item.currentnext, 
	#silver.smallopen .logotip, 
	#silver #tabstrip ul.k-tabstrip-items > li.k-state-active ul.menu-tab > li.k-item.k-last{background-color:#0879C0;}
#uniform  #tabstrip ul.k-tabstrip-items > li.k-item.k-state-active,
	#uniform #tabstrip ul.k-tabstrip-items > li.k-item.currentnext, 
	#uniform.smallopen .logotip, 
	#uniform #tabstrip ul.k-tabstrip-items > li.k-state-active ul.menu-tab > li.k-item.k-last{background-color:#BBB;}
#bootstrap #tabstrip ul.k-tabstrip-items > li.k-item.k-state-active,
	#bootstrap  #tabstrip ul.k-tabstrip-items > li.k-item.currentnext, 
	#bootstrap.smallopen .logotip, 
	#bootstrap #tabstrip ul.k-tabstrip-items > li.k-state-active ul.menu-tab > li.k-item.k-last{background-color:#04C;}
#metroblack  #tabstrip ul.k-tabstrip-items > li.k-item.k-state-active,
	#metroblack #tabstrip ul.k-tabstrip-items > li.k-item.currentnext, 
	#metroblack.smallopen .logotip, 
	#metroblack #tabstrip ul.k-tabstrip-items > li.k-state-active ul.menu-tab > li.k-item.k-last{background-color:#008886;}
#highcontrast #tabstrip ul.k-tabstrip-items > li.k-item.k-state-active,
	#highcontrast  #tabstrip ul.k-tabstrip-items > li.k-item.currentnext, 
	#highcontrast.smallopen .logotip, 
	#highcontrast #tabstrip ul.k-tabstrip-items > li.k-state-active ul.menu-tab > li.k-item.k-last{background-color:#870074;}
#moonlight #tabstrip ul.k-tabstrip-items > li.k-item.k-state-active,
	#moonlight  #tabstrip ul.k-tabstrip-items > li.k-item.currentnext, 
	#moonlight.smallopen .logotip, 
	#moonlight #tabstrip ul.k-tabstrip-items > li.k-state-active ul.menu-tab > li.k-item.k-last{background-color:#F4AF03;}

#tabstrip ul.k-tabstrip-items > li.k-item > .k-link {-moz-border-radius: 0;-webkit-border-radius: 0;border-radius: 0;border-color:transparent;border-width:0px;background:none;margin:0px;padding:0px;}
#tabstrip ul.k-tabstrip-items > li.k-item > .k-link {padding: 0px 0px 0px 20px;}

#tabstrip ul.menu-tab,
#tabstrip ul.menu-tab > li.k-item,
#tabstrip ul.menu-tab > li.k-item.k-state-hover {-moz-border-radius: 0;-webkit-border-radius: 0;border-radius: 0;border-color:transparent;border-width:0px;background:none;margin:0px;padding:0px;}
#tabstrip ul.menu-tab {position: relative;}
#tabstrip ul.menu-tab > li.k-item .k-link {/*height:29px;*/}

#tabstrip ul.menu-tab > li.k-item .k-link {-moz-border-radius: 0;-webkit-border-radius: 0;border-radius: 0;border-color:transparent;border-width:0px;background:none;margin:0px;padding:0px;}
#tabstrip ul.menu-tab > li.k-item .k-link {line-height:30px;padding: 0px 0px 0px 10px;}
#tabstrip ul.menu-tab > li.k-item li.k-item .k-link {line-height:30px;padding: 0px 10px;}
#tabstrip ul.menu-tab > li.k-item .k-link .k-icon.k-i-arrow-s {display:none;}
#tabstrip .k-tabstrip-items .k-item {-moz-border-radius: 0;-webkit-border-radius: 0;border-radius: 0;}

#tabstrip ul.menu-tab > li.k-item.lastaddtab {display:none;}
#tabstrip ul.k-tabstrip-items > li.k-item.k-last ul.menu-tab > li.k-item.lastaddtab {display:inline-block;}

#tabstrip ul.k-tabstrip-items > li.k-item {background-image: url(../images/tab-bg-lv.png);background-position: 0px 0px;background-repeat: no-repeat;}
#tabstrip ul.k-tabstrip-items > li.k-state-active {background-image: url(../images/active-tab-bg.png);background-position: 0px 0px;background-repeat: no-repeat;}
#tabstrip ul.k-tabstrip-items > li.k-item.currentnext{background-image: url(../images/active-tab-bg-r.png);background-position: 0px 0px;background-repeat: no-repeat;}

#tabstrip ul.menu-tab > li.k-item.k-last {width: 60px;text-align: center;}
#tabstrip ul.menu-tab > li.k-item.k-last {background-image: url(../images/tab-bg-add.png);background-position: 0px 0px;background-repeat: no-repeat; 
font-weight: bold;line-height:30x;}
#tabstrip ul.k-tabstrip-items > li.k-state-active ul.menu-tab > li.k-item.k-last {background-image: url(../images/active-tab-bg-add.png);background-position: 0px 0px;background-repeat: no-repeat; 
font-weight: bold; color:#2E2E2E;line-height:30px;}

#black #tabstrip ul.menu-tab > li.k-item.k-last {background-image: url(../images/tab-bg-add-black.png);color:#2E2E2E;}
#black #tabstrip ul.k-tabstrip-items > li.k-state-active ul.menu-tab > li.k-item.k-last {background-image: url(../images/active-tab-bg-add-black.png);color:#FFFFFFF;}
#moonlight #tabstrip ul.menu-tab > li.k-item.k-last {background-image: url(../images/tab-bg-add-black.png)}
#moonlight #tabstrip ul.k-tabstrip-items > li.k-state-active ul.menu-tab > li.k-item.k-last {background-image: url(../images/active-tab-bg-add-black.png);color:#FFFFFF;}
#highcontrast #tabstrip ul.menu-tab > li.k-item.k-last {background-image: url(../images/tab-bg-add-black.png)}
#highcontrast #tabstrip ul.k-tabstrip-items > li.k-state-active ul.menu-tab > li.k-item.k-last {background-image: url(../images/active-tab-bg-add-black.png);color:#FFFFFF;}
#metroblack #tabstrip ul.menu-tab > li.k-item.k-last {background-image: url(../images/tab-bg-add-black.png)}
#metroblack #tabstrip ul.k-tabstrip-items > li.k-state-active ul.menu-tab > li.k-item.k-last {background-image: url(../images/active-tab-bg-add-black.png);color:#FFFFFF;}

.k-content.k-state-active {background-color:transparent;height:100%;}
#black ul.menu-tab > li{color:#2E2E2E;}
.k-state-active ul.menu-tab > li, #black .k-state-active .tabtitle .k-link{color:#ffffff;}
#moonlight ul.menu-tab > li {color:#2E2E2E;}
#highcontrast ul.menu-tab > li {color:#2E2E2E;}
#metroblack ul.menu-tab > li {color:#2E2E2E;}
#moonlight .k-state-active .tabtitle .k-link{color:#ffffff;}
#highcontrast .k-state-active .tabtitle .k-link{color:#ffffff;}
#metroblack .k-state-active .tabtitle .k-link{color:#ffffff;}

/* Кнопка левого меню */
.left-menu-bottom{background: url(../images/left-menu-bottom-bg.png) 0% 0% no-repeat; z-index: 1; position: absolute;left:0px;top:0px;width:90px;height:30px;}
#black .left-menu-bottom{background: url(../images/left-menu-bottom-bg-black.png) 0% 0% no-repeat;}
#moonlight .left-menu-bottom{background: url(../images/left-menu-bottom-bg-moonlight.png) 0% 0% no-repeat;}
#metroblack .left-menu-bottom{background: url(../images/left-menu-bottom-bg-metroblack.png) 0% 0% no-repeat;}
#highcontrast .left-menu-bottom{background: url(../images/left-menu-bottom-bg-highcontrast.png) 0% 0% no-repeat;}

#lmb2 {width:67px;height:30px; z-index: 10; position: absolute;}
.closetabrightpane {width:67px;height:30px; z-index: 10; position: absolute;}
.left-menu-bottom-close:hover, .left-menu-bottom-open:hover {opacity: 0.8; }
.left-menu-bottom-close{margin-top: 4px; margin-left: 15px;width:39px;height:23px;background: url(../images/left-menu-bottom-close.png) 0px 0px no-repeat;}
#black .left-menu-bottom-close{background: url(../images/left-menu-bottom-close-black.png) 0px 0px no-repeat;}
#moonlight .left-menu-bottom-close{background: url(../images/left-menu-bottom-close-black.png) 0px 0px no-repeat;}
#metroblack .left-menu-bottom-close{background: url(../images/left-menu-bottom-close-black.png) 0px 0px no-repeat;}
#highcontrast .left-menu-bottom-close{background: url(../images/left-menu-bottom-close-black.png) 0px 0px no-repeat;}

.left-menu-bottom-open{margin-top: 4px; margin-left: 15px;width:39px;height:23px;background: url(../images/left-menu-bottom-open.png) 0px 0px no-repeat;}
#black .left-menu-bottom-open{background: url(../images/left-menu-bottom-open-black.png) 0px 0px no-repeat;}
#moonlight .left-menu-bottom-open{background: url(../images/left-menu-bottom-open-black.png) 0px 0px no-repeat;}
#metroblack .left-menu-bottom-open{background: url(../images/left-menu-bottom-open-black.png) 0px 0px no-repeat;}
#highcontrast .left-menu-bottom-open{background: url(../images/left-menu-bottom-open-black.png) 0px 0px no-repeat;}

.left-menu-bottom-big{position: absolute;z-index: 1;left:0px;bottom:0px;width:37px;height:119px;}

#esnav {z-index: 10; position: absolute; top:0px; left:0px; height: 29px; width: 70px;}
.closetabrightpane {height: 29px; width: 0px;position: absolute; top:0px; right:0px;cursor:pointer;}
.es-nav-prev, .es-nav-next {width:27px;height:24px;} 
.es-nav-prev {background-image: url(../images/es-nav-prev.png);background-position: 0px 0px;background-repeat: no-repeat;}
.es-nav-next {background-image: url(../images/es-nav-next.png);background-position: 100% 0px;background-repeat: no-repeat;}
.es-nav-menu {width:25px;height:30px;}
.es-nav-menu {background-image: url(../images/es-nav-menu.png);background-position: 0px 0px;background-repeat: no-repeat;}



#es-nav-menu {position: relative;z-index: 10;float:right;margin-right:10px;}
#es-nav-menu, #es-nav-menu:hover {border:0px;background-color: transparent;margin-top: 3px;margin-left:10px;}
#es-nav-menu .k-icon.k-i-arrow-s {display:none;}
#es-nav-menu .k-state-hover,
#es-nav-menu .k-state-focused, 
#es-nav-menu .k-state-focused:hover, 
#es-nav-menu .k-state-hover:hover, 
#es-nav-menu .k-state-hover:focus {border:0px;background: none;}
#es-nav-menu.k-menu .k-item > .k-link {padding: 0px;background: none;}
#es-nav-menu.k-menu .k-item > .k-link .k-link{padding: .5em .9em .4em;}
#es-nav-menu.k-menu .k-item {border-width: 0 0px 0 0;}
#es-nav-menu.k-menu > .k-item {float:left;}
#es-nav-menu.k-menu .k-sprite{margin:0px;}
#es-nav-menu.k-menu {background: none;}


.es-bg {position: absolute;z-index: 1;right:0px;top:0px;height:30px;width:95px;}
#black .es-nav-prev{background-image: url(../images/es-nav-prev-black.png);}
#moonlight .es-nav-prev{background-image: url(../images/es-nav-prev-black.png);}
#metroblack .es-nav-prev{background-image: url(../images/es-nav-prev-black.png);}
#highcontrast .es-nav-prev{background-image: url(../images/es-nav-prev-black.png);}
#black .es-nav-next{background-image: url(../images/es-nav-next-black.png);}
#moonlight .es-nav-next{background-image: url(../images/es-nav-next-black.png);}
#metroblack .es-nav-next{background-image: url(../images/es-nav-next-black.png);}
#highcontrast .es-nav-next{background-image: url(../images/es-nav-next-black.png);}
#black .es-nav-menu{background-image: url(../images/es-nav-menu-black.png);}
#moonlight.es-nav-menu{background-image: url(../images/es-nav-menu-black.png);}
#metroblack.es-nav-menu{background-image: url(../images/es-nav-menu-black.png);}
#highcontrast.es-nav-menu{background-image: url(../images/es-nav-menu-black.png);}
#black .es-bg {filter: none;background: #4d4d4d;}
#metroblack .es-bg {filter: none;background: #0E0E0E;}
#highcontrast .es-bg {filter: none;background: #1B141A;}
#moonlight .es-bg {filter: none;background: #212A33;}

#blueopal .es-bg, .es-bg, #default .es-bg, #metro .es-bg, #silver .es-bg {
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 10%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(10%,rgba(255,255,255,1)));
background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 10%);
background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 10%);
background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 10%);
background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 10%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 );
} 

/* Вкладки */
#tabs2 li{margin: 0;padding: 0;float: left;line-height: 30px;background-image: url(../images/active-tab-bg2.png);background-position: 100% 0px;background-repeat: no-repeat;padding-left:15px;}
#black #tabs2 li{background-image: url(../images/active-tab-bg2-black.png);}
#metroblack #tabs2 li{background-image: url(../images/active-tab-bg2-black.png);}
#highcontrast #tabs2 li{background-image: url(../images/active-tab-bg2-black.png);}
#moonlight #tabs2 li{background-image: url(../images/active-tab-bg2-black.png);}
#tabs2 li div{padding: 0px 25px 0px 5px;color:#ffffff;}
#tabs2 img {vertical-align: middle;margin-bottom: 1px;margin-left: 10px;opacity: 0.3;}
#tabs2 img:hover{opacity: 1;}

 

/* Рабочий стол */
.k-ghost-splitbar {z-index:999999;}
/* Окно настроек */
.window_iframe {padding:1px!important;overflow:hidden!important;}
.k-window{-webkit-box-shadow: none;box-shadow: none;}

/* Новый рабочий стол */
#adddesctop #panelbar {width:300px;}
#adddesctop .k-button {margin:5px;}
#adddesctop .k-group{padding-left: 0px;min-height:260px;background-color: #FFFFFF;}
#adddesctop #grid td{vertical-align: top;}
#adddesctop .k-textbox {width:300px;}
#adddesctop label {display: inline-block;width: 90px;text-align: right;}
#adddesctop .delete-link {
    width: 12px;
    height: 15px;
    background: transparent url(../images/close.png) no-repeat 0px 0px;
    overflow: hidden;
    display: inline-block;
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
    margin: 2px 0 0 3px;
    -webkit-border-radius: 5px;
    -mox-border-radius: 5px;
    border-radius: 5px;
}
#adddesctop #basket {
	height: 69px;
    width: 69px;
	float:right;
	border: 1px solid #ff0000;
}
.portal .tasks, .portal .charts, .tasks .charts, .tasks .portal, .charts .portal, .charts .tasks  {display:none;}


body .k-state-selected{-webkit-box-shadow: none;box-shadow: none;}

/* Подсказки */
.tips {text-align:center;margin:5px;}